

nav ul {

    list-style-type: none;
    background-color: darkgoldenrod;
    height: 90%;
    justify-content: center;
  }
  nav li {
      display: inline;
      margin-left: 11%;
      margin-right: 11%;


  }
  li a {
    font-size: 32px;
    color:darkred;
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;
  }
nav{
  margin-bottom:3%;
  margin-top:2%;
  width:100%;
  height:20%;

}

#title{
  text-align: center;
  color: darkred;
  margin-bottom: 2px;
  left:5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;

}

#sporting{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#contact{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}
#hometitle{
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  color: darkred;
}
.hometext {
text-align: justify;
background-color: darkgoldenrod;
width:80%;
left:20%;
font-size: 20px;
margin-left: auto;
margin-right: auto;


}
.contacttext {
  text-align: justify;

  width:90%;
  left:20%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;


  }
#contactinfo{
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#searchForm {
  left:50px;
  margin-bottom: 50px;
}
td{
  text-align: center;
}
#content-wrap{
  margin-left: 20%;
}

th {
  margin-left: 10px;
  margin-right: 10px;
}

table{
  width: 60%;
}
#message{
  color: red;
}
h1 {
  color:darkred;
  text-align: center;
}
#producttext{
  text-align: center;
  margin-bottom: 100px;
}

h2{
left:100px;
}
footer{
  background-color: darkgoldenrod;
  color:darkred;
}
